<div class="card text-white bg mb-3" style="max-width: 75%">
    <div class="card-header">KELOLA NILAI MATA PELAJARAN</div>
    <div class="card-body" style="background-color: white">
      <table class="table mb-5 table-bordered">
        <thead></thead>
        <tbody>
          <tr>
            <th scope="row">School Year</th>
            <td>2021/2022</td>
          </tr>
          <tr>
            <th scope="row">Semester</th>
            <td>Ganjil</td>
          </tr>
          <tr>
            <th scope="row">Class</th>
            <td>VII A</td>
          </tr>
          <tr>
            <th scope="row">Subjects</th>
            <td>Islamic education</td>
          </tr>
          <tr>
            <th scope="row">KKM</th>
            <td>75,00</td>
          </tr>
        </tbody>
      </table>
      <div class="table-responsive-sm">
        <table class="table table-bordered mb-5">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Student's Name</th>
              <th scope="col">Madrasa test scores</th>
              <th scope="col">School test scores</th>
              <th scope="col">Final test score</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingTextarea"
                    required
                  />
                </div>
              </td>
            </tr>
  
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingTextarea"
                    required
                  />
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingTextarea"
                    required
                  />
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Derullo</td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingTextarea"
                    required
                  />
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Harris</td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Villain</td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingTextarea"
                    required
                  />
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Jasson</td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingTextarea"
                    required
                  />
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>Rasmus</td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingTextarea"
                    required
                  />
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td>Pablo</td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingTextarea"
                    required
                  />
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>Smith</td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-2">
                  <input
                    type="text"
                    class="form-control"
                    id="validationDefault05"
                    required
                  />
                </div>
              </td>
              <td>
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingTextarea"
                    required
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-success">Save</button>
    </div>
  </div>
  <!--  -->
  
