<div class="img"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 mt-5">
      <div class="card1">
        <div class="card">
          <div class="header text-center">
            <img
              src="/assets/img/pngwing.com.png"
              alt="logo1.jpg"
              width="100px"
              height="100px"
            />
            <img src="" alt="" />
            <br />
            <br />
            SDN SUKAMAJU
            <p>
              <b>Sekolah Dasar Negeri Sukamaju</b>
            </p>
          </div>
          <div class="card-body bg-white">
            <form>
              <div class="mb-2">
                <label for="exampleInputUsername" class="form-label"></label>
                <input
                  type="username"
                  class="form-control"
                  required
                  id="exampleInputUsername"
                  placeholder="User Account"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label"></label>
                <input
                  type="password"
                  class="form-control"
                  required
                  id="exampleInputPassword1"
                  placeholder="Password"
                />
              </div>
              <div class="col-md-3">
                <label for="validationServer04" class="form-label"
                  >Sebagai</label
                >
                <select
                  class="form-select"
                  id="validationServer04"
                  aria-describedby="validationServer04Feedback"
                  required
                >
                  <option selected disabled value="">Choose...</option>
                  <option>Headmaster</option>
                  <option>Teacher</option>
                  <option>Student</option>
                  <option>Parent</option>
                </select>
                <div id="validationServer04Feedback" class="invalid-feedback">
                  Please select a valid state.
                </div>
              </div>
              <!-- <select
                class="form-select form-select-sm"
                aria-label=".form-select-sm example"
              >
                <option selected>Masuk Sebagai</option>
                <option value="1">Kepala Sekolah</option>
                <option value="1">Guru</option>
                <option value="2">Murid</option>
                <option value="3">Orang Tua</option>
              </select> -->
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                />
                <label class="form-check-label" for="exampleCheck1"
                  >Remember Me</label
                >
              </div>
              <div class="footer">
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-success btn-blocks">
                    Login
                  </button>
                  <strong
                    ><a href="" class="element.style" style="color: red"
                      >Forgot Password?</a
                    ></strong
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ======================== -->
</div>
