<div class="content-wrapper">
  <section id="profilsiswa">
    <div class="container-fluid">
      <!-- <button
        #addButton
        ejs-button
        id="addButton"
        type="button"
        content="Add"
        (click)="onButtonClick()"
      >Add button</button>

      <ejs-schedule
        #scheduleObj
        height="520px"
        [selectedDate]="selectedDate"
        [eventSettings]="eventSettings"
        [views]="scheduleViews"
      >
      </ejs-schedule> -->
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </section>
</div>
